:root {
  --p: rgba(66, 139, 202, 0.5);
}

.big {
  min-width: 30px;
  min-height: 30px;
}
.c-border-left {
  border-left: 10px solid var(--p);
}
.push-down {
  position: relative;
  bottom: -30%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "M PLUS 1p", sans-serif;
}
body {
  font-family: "Raleway", sans-serif;
}
.bgimg {
  background-image: url("/wood.jpg");
  background-size: cover;
  background-position: center;
}

.clear-card {
  padding: 0.75rem;
  background: rgba(255, 255, 255, 0.082);
  border-radius: 6px;
  box-shadow: 2px 2px 2px black, 8px 8px 8px rgba(0, 0, 0, 0.507);
}
